<div id="jumbo" class="p-1 mb-4">
    <div id="jumbo-box" class="py-5 text-center">
        <h1 id="jumbo-head" class=" container-fluid display-5 fw-bold">Ella Offstage</h1>
        <p id="jumbo-sub">my disney college program blog</p>
    </div>
</div>