{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %} Week {{ week_num }} {% endblock %}

{% block page_description %} Week {{ week_num }} {% endblock %}

{% block content %}
  <article class="container">
    <section class="container">
      <h4 id="table-head">Week {{week_num}}'s update</h4>
      <p> {{weekly_post}} </p>
    </section>
  </article>
{% endblock %}
