{% extends '_templates/base.njk' %}

{% block page_title %}Ella Offstage{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 id="index-head">Follow along here</h1>
  <p id="index-blurb">Come back evey Sunday for my weekly update!</p>
</div>
<div class="container">
  <div class="row text-center">
    {% for post in posts.Sheet1 %}
    <div class="col">
      <div class="card bg-primary">
        <div class="card-body text-center p" id="cards-index">
          <div class="container" id="card-texts">
            <h3 class="card-title"> Week {{ post.week_num }} </h3>
            <a href="posts/{{post.slug}}.html" class="card-link"> Read more here! </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> 
{% endblock %}