{% extends '_templates/base.njk' %}

{% block page_title %}Ella Offstage{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 id="index-head">follow along here</h1>
</div>
<div class="container">
  <div class="row text-center">
    {% for post in posts.posts %}
    <div class="col">
      <div class="card bg-primary">
        <div class="card-body text-center p" id="cards-index">
          <div class="container" id="card-texts">
            <h3 class="card-title"> {{post.title}} </h3>
            <p class="card-text"> {{post.blurb}}</p>
            <a href="posts/{{post.slug}}.html" class="card-link"> Click here for week {{post.week_num}}'s full post!</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> 

{% endblock %}