  
#jumbo {
  background: url(../img/jumbo.png) no-repeat center;
  background-size: cover;
  padding-top: 12rem;
}

#jumbo-head, #jumbo-sub {
  text-align: center;
  color: $primary;
}

#jumbo-head {
  font-family: 'Bonbon', sans-serif;
  font-style: normal;
  font-size: 6vw;
  letter-spacing: 0.2rem;
}

#jumbo-sub {
  font-family: 'IBM Plex Serif', sans-serif;
  font-weight: 700;
  font-size: 3vw;
}