// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
$primary: #F6D6E0;
$secondary: #5E3360;
$link-color: #D6A77A;
$indigo: #3D3A78;
$text: #FDFCFB;


/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import 'jumbotron';

body {
  background-color: $secondary;
}

h1 {
  color: $secondary;
  font-family: 'Bonbon', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

.card-title{
  font-family: 'Bonbon', sans-serif;
  font-style: normal;
  font-size: 3vw;
}

 #blurb, .card-text, .card-link, #index-blurb, #table-head {
  font-family: 'IBM Plex Serif', sans-serif;
}

#index-blurb {
  text-align: center;
  color: $primary;
  font-size: 1vw;
}

.card-title {
  font-weight: 650;
  color: $secondary;
}

.card-text, .card-link {
  color: black;
}

#index-head {
  color: $link-color;
  font-size: 3.5vw;
}

#table-head {
  background-color: $secondary;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 2.5px;
}
